.ghost {
    width: 40px;
    height: 40px;
}

.main {
    text-align: center;
}
.row {
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
}

td,th {
    width: 100px;
}

.scorestyle {
    font-weight: bold;
    font-size: 22px;
}